/* General Button Styles */
.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 8px 24px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
    text-decoration: none;
}

.button .icon-left {
    margin-right: 8px;
}

.button .icon-right {
    margin-left: 8px;
}

/* Text Button Styles */
.text-button {
    background-color: transparent;
    color: var(--color-text-primary);

}

.text-button:hover {
    background-color: rgba(20, 81, 237, 0.08);
}

.text-button:focus {
    background-color: rgba(20, 81, 237, 0.08);
    box-shadow: 0 0 0 2px #1451ED;
    outline: none;
}

.text-button.active {
    background-color: rgba(20, 81, 237, 0.15);
    color: var(--color-primary);
}

.text-button:disabled {
    background-color: transparent;
    color: #A7A7A7;
    cursor: not-allowed;
}

/* Bold Text Button */
.bold-text {
    font-weight: bold;
}

/* Filled Button Styles */
.filled-button {
    background-color: #007BFF; /* Default color, change as needed */
    color: #FFF;
}

.filled-button:hover {
    background-color: #0056b3;
}

.filled-button:focus {
    background-color: #0056b3;
    border: 2px solid #1451ED;
}

.filled-button:active {
    background-color: #004085;
}

.filled-button:disabled {
    background-color: #A7A7A7;
    color: #FFF;
    cursor: not-allowed;
}

/* Outline Button Styles */
.outline-button {
    background-color: transparent;
    color: #000;
    border: 2px solid #A7A7A7;
    border-radius: 100px;
}

.outline-button:hover {
    border-color: #1451ED;
    color: #1451ED;
}

.outline-button:focus {
    border-color: #1451ED;
    background-color: rgba(20, 81, 237, 0.08);
}

.outline-button:active {
    border-color: #004085;
    background-color: rgba(20, 81, 237, 0.15);
}

.outline-button:disabled {
    border-color: #A7A7A7;
    color: #A7A7A7;
    cursor: not-allowed;
}

/* Name Link Styles */
.name-link {
    font-family: 'Afacad', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--color-text-primary);
    /* background-color: rgba(20, 81, 237, 0.12); */
    border-radius: 8px;
    padding: 8px 16px;
}

.name-link:hover {
    background-color: rgba(20, 81, 237, 0.15);
}

.name-link:focus {
    background-color: rgba(20, 81, 237, 0.15);
    border: 2px solid #1451ED;
}

.name-link:active {
    background-color: rgba(20, 81, 237, 0.2);
}
