/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    5. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    6. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    8. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }


:root {
    /* Color styles */
  --color-blue: hsla(223, 86%, 50%, 1);
  --color-ui-border: hsla(0, 0%, 88%, 1);
  --color-neutral-grey: hsla(0, 0%, 76%, 1);
  --color-text-primary: hsla(0, 0%, 9%, 1);
  --color-text-grey: hsla(0, 0%, 41%, 1);

  /* Text-size styles */
    /* base size: title---small (14px) */
    --display---large: 4.07rem;
    --display---medium: 3.21rem;
    --display---small: 2.57rem;
    --headline---large: 2.29rem;
    --headline---medium: 2rem;
    --headline---small: 1.71rem;
    --title---large: 1.57rem;
    --title---medium: 1.14rem;
    --title---small: 1rem;
    --label---large: 1rem;
    --label---medium: 0.86rem;
    --label---small: 0.79rem;
    --body---large: 1.14rem;
    --body---medium: 1rem;
    --body---small: 0.86rem;


}

h1 {
  font-size: var(--title---large);
}

h3 {
  font-size: var(--label---large);
}



p {
    color: hsl(0, 0%, 14%);
    font-family: "Nokora", sans-serif;
    font-size: var(--title---medium);
    
} 

.secondary {
  color: var(--color-text-grey);
  font-size: var(--title---small);
  
}


h1 {

    color: hsl(0, 0%, 14%);
    font-family: "Nokora", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

h3 {
    color: hsl(0, 0%, 46%);
    font-family: "Nokora", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.top_nav {
    /* background-color: rgb(188, 188, 188); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}


.left {
  display: flex;
  gap: 2rem;
}


.right {
    display: flex;
    gap: 2rem;
}

.container {
    /* background-color: bisque;
    border: 1px solid #000; */
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    height: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;

    
}

.grid{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr );
    grid-template-rows: auto;
    grid-row-gap: 1rem;
    grid-column-gap: 1rem;

      grid-template-areas: 
        'about about experience'
        'work  project project'
        'motto clients clients'
        'motto expertise contact';
        
}


.content-block {
    background-color: rgb(210, 210, 210);
    background-color: white;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 4rem;
    height: 100%; 
    border-radius: 0.5rem;
    box-shadow: 2px 2px 21.6px 3px rgba(93, 93, 93, 0.12);

}

.about {
    grid-area: about;
    /* grid-column-start: 1;
    grid-column-end: 9; */
  
}

.experience {
    grid-area: experience;
    /* grid-column-start: 9;
    grid-column-end: 13; */

}

.work {
    grid-area: work;
    /* grid-column-start: 1;
    grid-column-end: 5; */

}

.featured-project {
    grid-area: project;
    /* grid-column-start: 5;
    grid-column-end: 13; */
    background-image: url("assets/images/placeholder.png");
    background-position: 0 0, 0 0;
    background-size: cover;
}

.motto {
  grid-area: motto;
    /* grid-column: 1 / 5;
    grid-row: 3 / 5; */
    background-image: url("assets/images/placeholder.png");
    background-position: 0 0, 0 0;
    background-size: cover;
    

    
}

.clients {
  grid-area: clients;
    /* grid-column: 5 / 13; */
}    

.expertise {
  grid-area: expertise;
    /* grid-column: 5 / 8; */
    
}

.contact {
  grid-area: contact;
    /* grid-column: 8 / 13; */
}

.card-title {
    background-color: var(--color-neutral-grey);
    padding: 0.375rem 0.75rem;
    border-radius: 16px;
    line-height: 1.25rem;
    text-align: center;
    width: fit-content;
    font-family: 'Nokora';
    font-size: var(--label---large);
    
    
    
}

.intro {
  p {
    font-size: var(--headline---small);
  }
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    

}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2rem;
  padding-bottom: 2rem;

}


.list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.list-item {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--color-neutral-grey);
   

  p {
    font-size: var(--title---medium);
    color: var(--color-text-primary)
  }
}

.list-item:last-child {
  border: none;
}


.list-row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  p {
    font-size: var(--label---large);
    color: var(--color-text-grey);
  }
}





@media (max-width: 991px) {

  .container {
    background-color: blue;
  }

  .grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "about about"
      "experience experience"
      "project project"
      "work work"
      "clients clients"
      "expertise motto"
      "contact contact"
    ;
  }

  .left h1 {

    font-size: var(--title---large);
  }

  .right h3 {
    font-size: var(--label---large);
  }
}

@media (max-width: 768px) {

.container {
  background-color:blueviolet
}

  .grid {
    grid-template-columns: repeat(1,1fr);
    grid-template-areas: 
    "about "
    "experience "
    "project "
    "work "
    "clients "
    "expertise "
    "motto"
    "contact "
    ;
  }

  .top_nav {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
}